* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(/resource/background.jpg);
    background-size: 100%;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 32px;
    background-color: white;
}

.navbar img {
    margin-right: auto;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin-right: auto;
}

.navbar ul li {
    padding: 0px 30px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.navbar-search-field {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;

}

.navbar-search-field input {
    font-size: 18px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.navbar-search-field input:focus {
    outline: none;
}

/* three dot icon */
.material-symbols-rounded {
    font-weight: 900;
}

.main {
    position: absolute;
    color: white;
}

.title-section {
    font-family: 'Montserrat', sans-serif;
    margin-left: 140px;
    margin-top: 180px;
    width: 360px;
}

.title-section h2 {
    color: #0adab9;
    font-size: 24px;

}

.title-section h1 {
    font-size: 48px;
}

.title-section p {
    margin-top: 25px;
    font-family: 'Nunito', sans-serif;
}

.title-section button {

    margin-top: 25px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 15px;

}

.title-section button:hover {
    background-color: rgba(0, 0, 0, 0.222);

}



.middle-body-text {
    position: relative;
    margin-top: 100px;
    margin-left: 700px;
    color: white;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 600;
}